Repository lx-industries/a2a-rust: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image:x86_64-unknown-linux-gnu, build-image:wasm32-wasip2, build:x86_64-unknown-linux-gnu, build:wasm32-wasip2, cargo-test, cargo-doc-test, cargo-clippy, cargo-fmt, cargo-doc

build-image:x86_64-unknown-linux-gnu:
  image: docker:27.5.1-dind@sha256:aa3df78ecf320f5fafdce71c659f1629e96e9de0968305fe1de670e0ca9176ce
  services:
  - docker:27.5.1-dind@sha256:aa3df78ecf320f5fafdce71c659f1629e96e9de0968305fe1de670e0ca9176ce
  variables:
    DOCKER_TLS_CERTDIR: /certs
  ...

build-image:wasm32-wasip2:
  image: docker:27.5.1-dind@sha256:aa3df78ecf320f5fafdce71c659f1629e96e9de0968305fe1de670e0ca9176ce
  services:
  - docker:27.5.1-dind@sha256:aa3df78ecf320f5fafdce71c659f1629e96e9de0968305fe1de670e0ca9176ce
  variables:
    DOCKER_TLS_CERTDIR: /certs
  ...

build:x86_64-unknown-linux-gnu:
  image: registry.gitlab.com/lx-industries/a2a-rust/rust/x86_64-unknown-linux-gnu:1.92.0@sha256:a933303684495cce4cf74380ad1ffc4cfa38f14a014b5405d09f136e497f08ef
  variables:
    CARGO_HOME: .cargo
    RUSTC_WRAPPER: sccache
    GIT_FETCH_EXTRA_FLAGS: +refs/heads/main:refs/remotes/origin/main
  before_script:
  ...

build:wasm32-wasip2:
  image: registry.gitlab.com/lx-industries/a2a-rust/rust/wasm32-wasip2:1.92.0@sha256:5056a36708818371ac2ed1c6874d89c4b2e52ce1ec0852b9f0cbb261abca1e8d
  variables:
    CARGO_HOME: .cargo
    RUSTC_WRAPPER: sccache
    GIT_FETCH_EXTRA_FLAGS: +refs/heads/main:refs/remotes/origin/main
  before_script:
  ...

cargo-test:
  image: registry.gitlab.com/lx-industries/a2a-rust/rust/x86_64-unknown-linux-gnu:1.92.0@sha256:a933303684495cce4cf74380ad1ffc4cfa38f14a014b5405d09f136e497f08ef
  variables:
    CARGO_HOME: .cargo
    RUSTC_WRAPPER: sccache
    GIT_FETCH_EXTRA_FLAGS: +refs/heads/main:refs/remotes/origin/main
  before_script:
  ...

cargo-doc-test:
  image: registry.gitlab.com/lx-industries/a2a-rust/rust/x86_64-unknown-linux-gnu:1.92.0@sha256:a933303684495cce4cf74380ad1ffc4cfa38f14a014b5405d09f136e497f08ef
  variables:
    CARGO_HOME: .cargo
    RUSTC_WRAPPER: sccache
    GIT_FETCH_EXTRA_FLAGS: +refs/heads/main:refs/remotes/origin/main
  before_script:
  ...

cargo-clippy:
  image: registry.gitlab.com/lx-industries/a2a-rust/rust/x86_64-unknown-linux-gnu:1.92.0@sha256:a933303684495cce4cf74380ad1ffc4cfa38f14a014b5405d09f136e497f08ef
  variables:
    CARGO_HOME: .cargo
    RUSTC_WRAPPER: sccache
    GIT_FETCH_EXTRA_FLAGS: +refs/heads/main:refs/remotes/origin/main
  before_script:
  ...

cargo-fmt:
  image: registry.gitlab.com/lx-industries/a2a-rust/rust/x86_64-unknown-linux-gnu:1.92.0@sha256:a933303684495cce4cf74380ad1ffc4cfa38f14a014b5405d09f136e497f08ef
  variables:
    CARGO_HOME: .cargo
    RUSTC_WRAPPER: sccache
    GIT_FETCH_EXTRA_FLAGS: +refs/heads/main:refs/remotes/origin/main
  before_script:
  ...

cargo-doc:
  image: registry.gitlab.com/lx-industries/a2a-rust/rust/x86_64-unknown-linux-gnu:1.92.0@sha256:a933303684495cce4cf74380ad1ffc4cfa38f14a014b5405d09f136e497f08ef
  variables:
    CARGO_HOME: .cargo
    RUSTC_WRAPPER: sccache
    GIT_FETCH_EXTRA_FLAGS: +refs/heads/main:refs/remotes/origin/main
  before_script:
  ...

fix(ci): align test:wasm-integration rules with build:wasm32-wasip2
  .gitlab/ci/rust.gitlab-ci.yml
Due: build:x86_64-unknown-linux-gnu, build:wasm32-wasip2, cargo-test, cargo-doc-test, cargo-clippy, cargo-fmt, cargo-doc

docs: add MCP+A2A architecture diagrams to README
  README.md
Due: none

docs: add project README
  README.md
Due: none

chore(deps): update rust crate schemars to 0.9
  Cargo.toml
Due: build:x86_64-unknown-linux-gnu, build:wasm32-wasip2, cargo-test, cargo-doc-test, cargo-clippy, cargo-fmt, cargo-doc

fix(a2a-wasm-component): suppress false positive dead_code warnings in tests
  crates/a2a-wasm-component/tests/common/mod.rs
Due: build:x86_64-unknown-linux-gnu, build:wasm32-wasip2, cargo-test, cargo-doc-test, cargo-clippy, cargo-fmt, cargo-doc

chore: add LICENSE
  LICENSE
Due: none

style(a2a-wasm-component): use explicit test_case names for cleaner output
  crates/a2a-wasm-component/tests/server_integration_test.rs
Due: build:x86_64-unknown-linux-gnu, build:wasm32-wasip2, cargo-test, cargo-doc-test, cargo-clippy, cargo-fmt, cargo-doc

chore(deps): remove unused build dependencies
  Cargo.toml
Due: build:x86_64-unknown-linux-gnu, build:wasm32-wasip2, cargo-test, cargo-doc-test, cargo-clippy, cargo-fmt, cargo-doc

style: apply cargo fmt
  crates/a2a-types/src/generated/a2a/v1.rs
Due: build:x86_64-unknown-linux-gnu, build:wasm32-wasip2, cargo-test, cargo-doc-test, cargo-clippy, cargo-fmt, cargo-doc

chore(deps): update node.js to b84d52c
  .gitlab-ci.yml
Due: none

chore(deps): update rust:1.92.0 docker digest to bed2d7f
  .gitlab-ci.yml
Due: none

chore(deps): update node.js to v22.22.0
  .gitlab-ci.yml
Due: none

chore(deps): update rust:1.92.0-bookworm docker digest to e90e846
  images/rust/wasm32-wasip2/Dockerfile
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: build-image:x86_64-unknown-linux-gnu, build-image:wasm32-wasip2

chore(deps): update rust:1.92.0 docker digest to f589233
  .gitlab-ci.yml
Due: none

refactor(ci): move target variant from image name to tag
  .gitlab/ci/images.gitlab-ci.yml
  .gitlab/ci/rust.gitlab-ci.yml
Due: build:x86_64-unknown-linux-gnu, build:wasm32-wasip2, cargo-test, cargo-doc-test, cargo-clippy, cargo-fmt, cargo-doc

feat(ci): add IMAGE_BUILD_FORCE variable with dropdown options
  .gitlab-ci.yml
  .gitlab/ci/images.gitlab-ci.yml
Due: none

feat(ci): add IMAGE_PUSH_FORCE variable to control image push behavior
  .gitlab-ci.yml
  .gitlab/ci/images.gitlab-ci.yml
Due: none

refactor(ci): remove GIT_FETCH_EXTRA_FLAGS from docker-in-docker template
  .gitlab/ci/images.gitlab-ci.yml
Due: none

refactor(ci): convert build-image to image job for rust-x86_64-unknown-linux-gnu
  .gitlab/ci/images.gitlab-ci.yml
Due: none

feat(ci): add push job for rust-x86_64-unknown-linux-gnu
  .gitlab/ci/images.gitlab-ci.yml
Due: none

refactor(ci): convert build-image to image job for rust-wasm32-wasip2
  .gitlab/ci/images.gitlab-ci.yml
Due: none

feat(ci): add push job for rust-wasm32-wasip2
  .gitlab/ci/images.gitlab-ci.yml
Due: none

fix(ci): update force variable options to match new job names
  .gitlab-ci.yml
Due: none

chore: ignore Claude Code Superpowers plan files
  .gitignore
Due: none

chore(ci): update rust images to new /images/rust path
  .gitlab/ci/rust.gitlab-ci.yml
Due: build:x86_64-unknown-linux-gnu, build:wasm32-wasip2, cargo-test, cargo-doc-test, cargo-clippy, cargo-fmt, cargo-doc

chore: remove redundant renovate comments from Dockerfiles
  images/rust/wasm32-wasip2/Dockerfile
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: build-image:x86_64-unknown-linux-gnu, build-image:wasm32-wasip2

chore(deps): update sccache to 0.13.0
  images/rust/wasm32-wasip2/Dockerfile
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: build-image:x86_64-unknown-linux-gnu, build-image:wasm32-wasip2

chore(deps): use rust:1.92.0 base image without bookworm suffix
  images/rust/wasm32-wasip2/Dockerfile
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: build-image:x86_64-unknown-linux-gnu, build-image:wasm32-wasip2

fix(ci): prevent image jobs from running on merge train pipelines
  .gitlab/ci/images.gitlab-ci.yml
Due: none

chore(deps): update node.js to 379c51a
  .gitlab-ci.yml
Due: none

chore(deps): update node.js to a871fb3
  .gitlab-ci.yml
Due: none

chore(deps): update node.js to 67475e9
  .gitlab-ci.yml
Due: none

chore(deps): update node.js to 20a424e
  .gitlab-ci.yml
Due: none

chore(deps): update node.js to v22.22.1
  .gitlab-ci.yml
Due: none

Path conditions:
  build-image:x86_64-unknown-linux-gnu: any of: images/rust/x86_64-unknown-linux-gnu/**/*
  build-image:wasm32-wasip2: any of: images/rust/wasm32-wasip2/**/*
  build:x86_64-unknown-linux-gnu: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  build:wasm32-wasip2: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  cargo-test: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  cargo-doc-test: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  cargo-clippy: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  cargo-fmt: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  cargo-doc: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
